# This file can be copied to target/debug or target/release and is a basic
# configuration file.
craft:
  deu:
    # one module, Wikipedia, and a few stop words (excluded from output file):
    wikipedia: data/wikipedia.bz2
    stopwords: und, da, weil, oder, deshalb
# normal log4rs configuration, will log >= info to stdout and >= debug to file
log4rs:
  appenders:
    file:
      kind: file
      path: "crafted.log"
      encoder:
          pattern: "{d(%Y/%m/%d %H:%M:%S%.3f)}: {m}{n}"
    console:
      kind: console
      encoder:
        pattern: "{m}{n}"
      filters:
      - kind: threshold
        level: info
  root:
    level: debug
    appenders:
    - file
    - console
